.register{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 30px;
  height: 85vh;
  min-height: 100%;
  background-size: cover;  
}
.register__container{
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  height: 490px;
  min-height: 490px;
  color: #fff;
  padding: 0px 50px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.register__container h2 {
  color: #fff;
}
.register__container--form {
  display: flex;
  flex-direction: column;
}

.register__container a {
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.register__container a:hover {
  text-decoration: underline;
}