.carousel {
  width: 100%;
  color: azure;
  z-index: 1;
  h2 {
    padding-top: 20px;
  }
  .container-buttons {
    position: absolute;
    display: flex;
    align-items: center;
    width: 80%;
    height: 0;
    justify-content: space-between;
    z-index: 2;
    margin-top: 150px;
  }
  .container-buttons {
    button {
      width: 50px;
      height: 50px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 25px;
      margin-left: 20px;
    }
    .Botton-Prev {
      transform: rotate(-90deg);
    }
    .Botton-Next {
      transform: rotate(90deg);
    }
  }
  .carousel__container {
    &:hover {
      .posterContainer {
        opacity: 0.3;
        &:hover {
          opacity: 1;
        }
      }
    }
    .childContainer {
      overflow-y: hidden;
      display: flex;
      width: inherit;
    }
  }
}
